@font-face {
	font-family: 'AldotheApache' ;
	src: url('AldotheApache.ttf') format('truetype');
}


body {
	color: #00778B;
	background: #201747;
	font-family: 'AldotheApache';
	text-transform: uppercase;
	letter-spacing: 2px;
}

.jumbotron {
	background-image: url(https://www.xmple.com/wallpaper/beehive-white-green-honeycomb-hexagon-1920x1080-c2-ffffff-008080-l2-8-125-a-55-f-5.svg);
	background-size: cover;
	background-repeat: no-repeat;
	color: #00C5CD;
	font-weight: 900;
	text-shadow: 3px 3px #201747;
}


button {
	font-family: 'AldotheApache';
	letter-spacing: 2px;
	color: #00778B;
	transition-duration: .5s;
	margin-top: 25px;
}

button:hover {
	color: #00778B;
	background: #00778B;
}

footer {
	font-size: 1.25rem;
}

#quoteDisplay {
	font-size: 2rem;
	margin-top: 15px;			
}
.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}
