@font-face {
	font-family: 'AldotheApache' ;
	src: url('AldotheApache.ttf') format('truetype');
}


body {
	color: #00778B;
	background: #201747;
	font-family: 'AldotheApache';
	font-weight: 500;
	letter-spacing: 2px;
}

button {
	font-family: 'AldotheApache';
	letter-spacing: 2px;
	color: #00778B;
	transition-duration: .5s;
}

button:hover {
	color: #00778B;
	background: #00778B;
}

footer {
	font-size: 1.25rem;
}

#quoteDisplay {
	font-size: 2rem;			
}
.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}
